<a href="https://colab.research.google.com/github/matsuch/Airbnb-Seattle-Data-Analysis/blob/main/Push.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
import json
import uuid
import sys

In [ ]:
#sys.path.append(r'C:\Users\breno.santos\Desktop\Projetos\Campanhas')

# Coleta Base .csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

#√∫ltimo c√≥digo de autoriza√ß√£o drive -> 4/1AY0e-g5t8YQdnBNylI4Y-iiMq2Zp8MX6xgxQ4DebNFrW8rMc2reCg-gvj2o

Mounted at /content/drive

In [ ]:
'''
To-do:
- Alterar path para drive compartilhado
- Verificar compartilhamento de dados via GitHub para ter hist√≥rico de modifica√ß√£o de c√≥digos

REGRAS:
- Sempre colocar os arquivos em uma pasta √∫nica chamada dados
- Criar um padr√£o de arquivos para mantermos o hist√≥rico, ex: dados_push_20210618
'''

file_name = r'teste.csv'
players_df = pd.read_csv(f'/content/drive/MyDrive/dados/{file_name}')

In [ ]:
players_df.head()

  subscribed                 last_active  ... app_version email
0        Yes  2021-06-11 23:35:25.000000  ...      585109   NaN
1         No  2021-06-05 23:37:36.000000  ...    5.8.2106   NaN
2        Yes  2021-04-21 14:43:16.000000  ...       56196   NaN
3        Yes  2021-06-11 23:40:21.000000  ...      585109   NaN
4         No  2020-10-21 16:31:39.000000  ...     4.1.166   NaN

[5 rows x 8 columns]

In [ ]:
#Aplica uma formula lambda que atualiza o dict e seus valores para o valor original -> https://stackoverflow.com/questions/66834210/pd-json-normalize-occurs-an-str-object-has-no-attribute-values
players_df['tags']=players_df['tags'].apply(lambda x:eval(x))

#Retira a antiga coluna do app_version
players_df = players_df.drop('app_version', axis=1)

#Normaliza as linhas do dict em colunas e dropa a coluna tags
players_df = players_df.join(pd.json_normalize(players_df.tags)).drop('tags', axis=1)

#Transforma as colunas de datas em datetime
players_df['last_active'] = pd.to_datetime(players_df['last_active'])
players_df['first_session'] = pd.to_datetime(players_df['first_session'])

In [ ]:
players_df.head()

  subscribed         last_active  ...      cpfcnpj app_version
0        Yes 2021-06-11 23:35:25  ...  19643175847    5.8.5109
1         No 2021-06-05 23:37:36  ...  02348506980    5.8.2106
2        Yes 2021-04-21 14:43:16  ...  04389333119     5.6.196
3        Yes 2021-06-11 23:40:21  ...  38493802700    5.8.5109
4         No 2020-10-21 16:31:39  ...  05155522404     4.1.166

[5 rows x 10 columns]

In [ ]:
'''
players_df['last_active'] = pd.to_datetime(players_df['last_active'])
players_df['first_session'] = pd.to_datetime(players_df['first_session'])
players_df['tags'] = players_df['tags'].str.replace('\"','')
players_df[['identification', 'cblc']] = players_df['tags'].str.split(',', expand=True)[0].str.split(' ', expand=True)
players_df['identification'] = players_df['identification'].str.replace('{', '').str.replace(':', '')
players_df['cblc'] = players_df['cblc'].str.replace('}', '').str.replace(':', '')
'''

In [ ]:
#Seleciona apenas os clientes que possuem cblc
user_df = players_df[ players_df['cblc'].notna() ]

#Retira valores duplicados considerando apenas dados do ultimo login do usu√°rio
user_df = user_df.sort_values('last_active', ascending=True).drop_duplicates('cblc', keep='last')

#Filtra apenas clientes que est√£o subescritos e o cblc √© diferente de nulo
user_df = user_df[ (players_df['subscribed'] == 'Yes') & (user_df['cblc'] != 'null') ]

#Muda o tipo de dado da coluna cblc para int (numerico)
user_df['cblc'] = user_df['cblc'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [ ]:
'''
user_df = players_df[players_df['identification'] == 'cblc'].copy()
user_df = user_df.sort_values('last_active', ascending=True).drop_duplicates('cblc', keep='last')
user_df = user_df[(user_df['subscribed'] == 'Yes') & (user_df['cblc'] != 'null')].copy()
user_df['cblc'] = user_df['cblc'].astype(int)
'''

In [ ]:
duplicados_mask = players_df[ ( (players_df['cblc'] != 'null') | (players_df['cblc'].notna()) ) & (players_df.duplicated(subset=['cblc'])) ]

print('Total na lista:', players_df.shape[0])
print('Sem CBLC:', players_df[ (players_df['cblc'] == 'null') | (players_df['cblc'].isna()) ].shape[0]) #qual a diferen√ßa entre estar nulo e vazio?
print('Total Subscribed:', players_df[players_df['subscribed'] == 'Yes'].shape[0])
print('Quantidade de CBLC duplicado:', players_df['cblc'].duplicated().sum()) #o que fazia antes?
print('CBLC subscribed e √∫nicos:', user_df.shape[0])

Total na lista: 255711
Sem CBLC: 50113
Total Subscribed: 118687
Quantidade de CBLC duplicado: 0
CBLC subscribed e √∫nicos: 92671

In [ ]:
#valores breno
duplicados_mask = (players_df['identification'] == 'cblc') & (players_df.duplicated(subset=['cblc']))

print('Total na lista:', players_df.shape[0])
print('Sem CBLC:', players_df[players_df['identification'] != 'cblc'].shape[0])
print('Total Subscribed:', players_df[players_df['subscribed'] == 'Yes'].shape[0])
print('Quantidade de CBLC duplicado:', players_df[duplicados_mask].shape[0])
print('CBLC subscribed e √∫nicos:', user_df.shape[0])

Total na lista: 255711
Sem CBLC: 42407
Total Subscribed: 118687
Quantidade de CBLC duplicado: 32371
CBLC subscribed e √∫nicos: 92671

In [ ]:
#Checa usu√°rio (breno)
user_df[user_df.cblc == 100072]

       subscribed         last_active  ...      cpfcnpj app_version
158314        Yes 2021-06-12 12:37:54  ...  12028706600    6.0.1112

[1 rows x 10 columns]

In [ ]:
#Checa usu√°rio (marcela)
user_df[user_df.cblc == 597958]

      subscribed         last_active  ...      cpfcnpj app_version
61670        Yes 2021-06-14 21:47:32  ...  08362438622    5.8.5109

[1 rows x 10 columns]

## Combina Base com lista de CBLC

In [ ]:
#Incluir a base de disparo 
base_file = r'cashback.csv'
base_df = pd.read_csv(f'/content/drive/MyDrive/dados/{base_file}') #Se salvar pelo excel, incluir -> ,sep=';', engine='python'
base_df.head()

     cblc
0  462254
1  108912
2  404540
3  102133
4  523529

In [ ]:
base_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cblc    2129 non-null   int64
dtypes: int64(1)
memory usage: 16.8 KB

In [ ]:
base_df.describe()

                cblc
count    2129.000000
mean   392966.994833
std    148932.554136
min    100001.000000
25%    279336.000000
50%    432523.000000
75%    528463.000000
max    590206.000000

In [ ]:
#base_df['Classifica√ß√£o do cliente'].value_counts()

In [ ]:
#base_df['Sub classifica√ß√£o do cliente'].value_counts()

In [ ]:
#cblc_list = base_df.iloc[:, 1].str.replace('_Canceled', '').astype(int).tolist() 
cblc_list = base_df['cblc'].tolist()
print('Quantidade de clientes na lista:', len(cblc_list))

Quantidade de clientes na lista: 2129

### Clientes da base que tem o aplicativo:

In [ ]:
#Verifica quais usu√°rios da base de disparo est√£o dentro da base de usu√°rios
base_push = user_df[user_df.cblc.isin(cblc_list)].copy()

print('Quantidade de clientes da base com aplicativo:', base_push.shape[0])

Quantidade de clientes da base com aplicativo: 1613

In [ ]:
base_push.head()

,subscribed,last_active,first_session,device,player_id,tags,app_version,email,identification,cblc
81136,Yes,2020-06-02 23:08:29,2020-06-02 23:07:05,SM-G950F 8.0.0,500d8beb-502b-4b80-b03b-a1659c9c2ac6,"{cblc: 101894, userid: 24163, cpfcnpj: 0128934...",24533,NaN,cblc,101894
1546,Yes,2020-06-11 10:43:20,2020-06-11 10:42:25,Redmi 4X 7.1.2,0b770290-1d1a-4379-a5e5-6f3cbd507f93,"{cblc: 100007, userid: 40, cpfcnpj: 1002268575...",24533,NaN,cblc,100007
226198,Yes,2020-08-04 21:01:02,2020-08-04 18:00:34,Redmi Note 8 9,e56c250c-d711-481d-a3ba-f02a1a90c8d0,"{cblc: 266385, userid: 546157, cpfcnpj: 037626...",25135,NaN,cblc,266385
161200,Yes,2020-09-11 15:22:08,2020-06-25 10:33:04,moto g(8) play 9,a77dc9da-44a9-4412-a1d5-bf5f8f6738e3,"{cblc: 210640, userid: 367353, cpfcnpj: 060502...",33255,NaN,cblc,210640
84585,Yes,2020-09-14 16:49:34,2020-09-14 16:48:34,Redmi Note 9 Pro 10,5ad0242d-21b1-409e-a12f-de48d8a74bdd,"{cblc: 391047, userid: 878068, cpfcnpj: 004014...",33255,NaN,cblc,391047

# Send Push

In [ ]:
push_list = base_push.player_id.tolist()

#push_list = ["9871a349-edf0-4a21-9b71-67ac9df6bcc8"]
#push_list = push_list * 3000


len(push_list)

1613

In [ ]:
# Breno player ID: 9871a349-edf0-4a21-9b71-67ac9df6bcc8
# Paulo Mota player ID: c9cf4cef-5ae2-4cdd-bab9-cd572f056dfc
# Marcela ID: 352140f0-eb40-40a4-beaf-01407ef72f60 
# Adiciona meu player ID a lista de disparo
push_list.append('9871a349-edf0-4a21-9b71-67ac9df6bcc8')
#push_list.append('c9cf4cef-5ae2-4cdd-bab9-cd572f056dfc')


#push_list = ['9871a349-edf0-4a21-9b71-67ac9df6bcc8', '352140f0-eb40-40a4-beaf-01407ef72f60']

len(push_list)

1614

In [ ]:
url_notifications = "https://onesignal.com/api/v1/notifications"

headers = {
    'Content-Type': 'application/json; charset=utf-8;', 
    'Authorization':'Basic NWQ4MmIyNzktYWMxOS00MDI1LWFmZDYtY2IzZTVjZTYwMzQz'
}

template_id = 'b2a4ff3f-1e31-4393-86d7-8013de5b0496'
template_id_no_icon = '8090726a-3759-4f54-9ff3-d043d696e793'


heading = 'Uhull! J√° depositamos o seu cashback üéâ'
contents = 'O dinheiro j√° est√° na sua conta e voc√™ pode fazer com ele o que voc√™ quiser. Bora investir?'
#link = 'http://bit.ly/38Zdhn3'

In [ ]:
def define_body_push(heading_text, content_text, template, player_id_list, push_link=False):
    
    if push_link:
        body  = \
        {
            "app_id": "1f783bd4-225f-43c5-9bf4-f74b94e656f4",
            "headings": {"en": heading_text},
            "contents": {"en": content_text},
            "template_id": template,
            "url":f"{push_link}",
            "include_player_ids": player_id_list
        }
        
    else:
        body  = \
        {
            "app_id": "1f783bd4-225f-43c5-9bf4-f74b94e656f4",
            "headings": {"en": heading},
            "contents": {"en": contents},
            "template_id": template,
            "include_player_ids": player_id_list
        }
        
    return body


def send_push(url, body, header):
    push = requests.post(url, json=body, headers=header)
    
    return push

In [ ]:
# Trava para envio de Push

enviar_push = False

if enviar_push:
    print('Envio de push habilitado')
else:
    print('Envio de push desabilitado!')

Envio de push desabilitado!

In [ ]:
if enviar_push:
    
    
    if len(push_list) > 2000:
        n = 2000
        chunks = [push_list[i:i + n] for i in range(0, len(push_list), n)]
        
        print('Tamanho da lista:', len(push_list))
        print('Quantidade de chunks:', len(chunks))
        print('-------------------\n')
              
        for i, chunk in enumerate(chunks):
            body_push = define_body_push(heading, contents, template_id_no_icon, chunk, push_link=False)
            push_notification = send_push(url_notifications, body_push, headers)
            print('Enviando chunk {}'.format(i))
            print(push_notification)
            print('-------------------\n')
        
    else:
        print('Tamanho da lista:', len(push_list))
        
        body_push = define_body_push(heading, contents, template_id_no_icon, push_list, push_link=False)
        push_notification = send_push(url_notifications, body_push, headers)
        print(push_notification)

Tamanho da lista: 1614
<Response [200]>